header {
	background: black;
	color: rgba(226, 227, 229, 1.0);
	text-align: center;
	width: 100%;
	padding: 1px;
	font-family: sans-serif;
}
body {
	background-color: rgba(226, 227, 229, 1.0);
	margin: 0;
	padding: 0;
}
.red {
	color: rgba(227, 8, 19, 1.0);
}
div.polaroid {
	max-width: 80%;
	background-color: white;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.31), 0 12px 20px 0 rgba(0, 0, 0, 0.45);
	display: block;
	margin: auto;
}
div.container {
	text-align: center;
	padding: 10px 20px;
	font-size: large;
	font-family: sans-serif;
}
.canyon {
	height: auto;
	max-width: 100%;
}
div.img {
	margin: 5px;
	border: 1px solid #cccccc;
	float: left;
	width: 200px;
	height: auto;
}
div.img:hover {
	border: 1px solid #777;
}
div.img img {
	width: 100%;
	height: auto;
}
div.responsive {
	padding: 0 6px;
	float: left;
	width: 24.99999%
}
.interests {
	background-color: white;
	width: 75%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
